* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #fafcfd;
  --secondary-color: #f7f9f8;
  --accent-color: #ffffffea;
  --background-color: #0e0e10;
  --font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Just Me Again Down Here", cursive;
  --font-size-base: 16px;
  --navbar-height: 80px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  margin: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

header {
  padding: 1.5rem;
  display: flex;
  width: 100%;
  height: var(--navbar-height);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: var(--background-color);
}
section {
  padding: 0 60px;
}

.menu {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}

.menu__item {
  padding: 0.5rem 0.75rem;
  margin-right: 0.5rem;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.menu__item:hover {
  transform: scale(1.05);
}

main {
  display: flex;
  flex-direction: column;
  z-index: 20;
  width: 100%;
  margin-top: var(--navbar-height);
}

/* hero section */
.hero {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: var(--secondary-font-family);
}
.hero__image {
  object-fit: contain;
  min-width: 40%;
  margin-right: 80px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.hero__content__title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1rem;
  transition: letter-spacing 0.3s ease;
}
.hero__content__title:hover {
  letter-spacing: 1.5rem;
}
.hero__content__description {
  font-size: 2.5rem;
  transition: word-spacing 0.3s ease;
}
.hero__content__description:hover {
  word-spacing: -0.2rem;
}

/* service section */
.service {
  display: flex;
  gap: 50px 40px;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  flex-wrap: wrap;
}
.service__header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.serviceCard {
  display: flex;
  border-radius: 12px;
  min-width: 45%;
  height: 150px;
  padding: 20px;
  transition: transform 0.3s ease;
}
.serviceCard:hover {
  transform: scale(1.05);
}
.serviceCard--studentBuddy {
  background-color: #c361ff;
}
.serviceCard--promiseKeeper {
  background-color: #ffa084;
}
.serviceCard--donWithHeart {
  background-color: #ffc556;
}
.serviceCard--streetSmart {
  background-color: #ff6b6b;
}
.serviceCard__image {
  object-fit: contain;
  min-height: 100%;
}
.serviceCard__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.serviceCard--reverse--row {
  flex-direction: row-reverse;
}
.serviceCard__title {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  padding-top: 8rem;
}
.teamMember {
  display: flex;
  min-height: 240px;
  min-width: 240px;
  border-radius: 10px;
  background-color: aqua;
  position: relative;
}
.teamMember--amban {
  background: linear-gradient(to bottom, #ffa084 0%, #5d2a18 100%);
}
.teamMember--bibi {
  background: linear-gradient(to bottom, #95b9d7 0%, #527b7d 100%);
}
.teamMember--shathan {
  background: linear-gradient(to bottom, #fbb36f 0%, #977340 100%);
}
.teamMember--aju {
  background: linear-gradient(to bottom, #96add5 0%, #2c343e 100%);
}
.teamMember__image {
  position: absolute;
  top: -30%;
  right: 0;
  height: 130%;
  width: 100%;
}
.teamMember:hover > .teamMember__image {
  top: -35%;
  height: 135%;
}
.teamMember__content {
  display: flex;
  flex: 1;
  align-items: flex-end;
  z-index: 3;
}
.teamMember__contentWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  --border-radius-top: 15px;
  border-top-left-radius: var(--border-radius-top);
  border-bottom-left-radius: var(--border-radius-top);
  padding: 15px 20px;
  background-color: aqua;
  width: 100%;
  height: fit-content;
}
.teamMember__name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.teamMember__designation {
  font-size: 1rem;
  font-weight: 400;
}

footer {
  text-align: center;
  width: 100%;
  padding: 25px;
}
